.fourth{
    position: relative;
    height:950px;
    width:100%;
    background-color: gainsboro;

    h1{
    position: absolute;
    font-size: 40px;
    top:10px;
    left:40%;}
    p{position:absolute;
    top:90px;
left:41%;}
.firstt{
    background-color: antiquewhite;
    position: relative;
    height:300px;
    width:400px;
    left:20px;
    top:130px;
    display:inline-block;
    margin: 10px;
    margin-top:60px;
    margin-left:50px;
    img{
        height:100%;
        width:100%;
    }
}
}
